# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Mac
.DS_Store

# VSCode
.vscode/

# Outputs
outputs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo

# Logs
*.log

# Virtual env
venv/
.env/
