# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.env.*
!.env.example
frontend/.env
frontend/.env.*
!frontend/.env.example

# Mac
.DS_Store

# VSCode
.vscode/

# Outputs
outputs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo

# Logs
*.log

# Virtual env
venv/
.env/
